/* --------------------------------------------------------------------------- */
/*                            VARIABLES GLOBALES                               */
/* --------------------------------------------------------------------------- */
*{
    font-weight: 400;
}
.p {
    padding: 5rem;
}
.p-l-r {
    padding-left: 5rem;
    padding-right: 5rem;
}

